@import controllers.admin.AssessmentsController.{AbstractAssessmentFormData, AdHocAssessmentFormData}
@import views.html.admin.assessments.fields
@(form: Form[AdHocAssessmentFormData])(implicit context: RequestContext, request: RequestHeader, messages: MessagesProvider)
@defining(form.asInstanceOf[Form[AbstractAssessmentFormData]]) { implicit abstractForm =>
    @adminLayout(s"Create assessment") {
        @b3.vertical.formCSRF(action = controllers.admin.routes.AssessmentsController.save(), Symbol("enctype") -> "multipart/form-data") { implicit vfc =>
            @views.html.tags.formHasErrors(form)
            @views.html.tags.globalErrors(form)

            <div class="row">
                <div class="col-sm-6">
                    @fields.department(None)
                    @fields.module(None)
                </div>
                <div class="col-sm-6">
                    @fields.paper(None)
                </div>
            </div>
            @fields.sequence(None)

            @fields.title()
            @fields.inviglators()
            @fields.assessmentType()
            @b3.datetimePicker(form("startTime"), Symbol("value") -> None, Symbol("_label") -> "Date")
            @fields.duration()
            @fields.description()
            @fields.url()
            @fields.upload(None)
            @fields.submit(None)
        }
    }
}
