@import domain.Assessment
@import domain.Assessment.Platform
@import domain.Assessment.AssessmentType
@import controllers.admin.AssessmentsController.AssessmentFormData

@(assessment: Assessment, form: Form[AssessmentFormData])(implicit context: RequestContext, request: RequestHeader, messages: MessagesProvider)

@adminLayout(s"Assessment for ${assessment.code}") {
  @b3.vertical.formCSRF(action = controllers.admin.routes.AssessmentsController.update(assessment.id), Symbol("enctype") -> "multipart/form-data") { implicit vfc =>
    @b3.text(form("title"), Symbol("_label") -> "Title")

    <div class="row">
      <div class="col-sm-6">
      @b3.radio(form("assessmentType"), AssessmentType.values.map(p => (p.entryName, p.label)), Symbol("_label") -> "Type")
      </div>
      <div class="col-sm-6">
      @b3.radio(form("platform"), Platform.values.map(p => (p.entryName, p.label)), Symbol("_label") -> "Platform")
      </div>
    </div>

    @b3.inputWrapped("number", form("durationMinutes"), Symbol("_label") -> "Duration", Symbol("min") -> 1, Symbol("max") -> 24 * 12) { input =>
      <div class="input-group">
        @input
        <div class="input-group-addon">minutes</div>
      </div>
    }

    @b3.textarea(form("description"), Symbol("_label") -> "Description", Symbol("rows") -> 5)

    @b3.text(form("url"), Symbol("_label") -> "URL to exam")

    @b3.freeFormGroup(Seq(Symbol("_label") -> "Files")) { _ =>
      <div class="well">
        @if(assessment.brief.files.isEmpty) {
          <p>
            No files attached.
          </p>
        } else {
          <p>Attached files:</p>
          <ul>
          @assessment.brief.files.map { file =>
            <li>
              <a href="@controllers.admin.routes.AssessmentsController.getFile(assessment.id, file.id)" target="_blank">
                <i class="fad fa-file fa-fw"></i>@file.fileName
              </a>
            </li>
          }
          </ul>
          <p>Uploading new files replaces all existing files.</p>
        }
      </div>

      <input type="file" name="file" id="file" multiple>
    }

    @b3.free() {
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="@controllers.admin.routes.AssessmentsController.index()" class="btn btn-default">Cancel</a>
    }
  }
}
