@import controllers.admin.AssessmentsController.{AbstractAssessmentFormData, AssessmentFormData}
@import domain.Assessment
@import views.html.admin.assessments.fields
@(assessment: Assessment, form: Form[AssessmentFormData])(implicit context: RequestContext, request: RequestHeader, messages: MessagesProvider)
@defining(form.asInstanceOf[Form[AbstractAssessmentFormData]]) { implicit abstractForm =>
  @adminLayout(s"Assessment for ${assessment.paperCode} ${assessment.section.map(s => s"(Section $s)").getOrElse("")}") {
    @b3.vertical.formCSRF(action = controllers.admin.routes.AssessmentsController.update(assessment.id), Symbol("enctype") -> "multipart/form-data") { implicit vfc =>
      @fields.title()
      @fields.assessmentType()
      @fields.duration()
      @fields.description()
      @fields.url()
      @fields.upload(Some(assessment))
      @fields.submit()
    }
  }
}
