@import domain.{Assessment, StudentAssessment}
@import domain.tabula.SitsProfile
@import org.apache.commons.lang3.time.DurationFormatUtils
@import warwick.sso.UniversityID

@(
        existing: Option[Assessment],
        students: Seq[StudentAssessment],
        studentInformation: Map[UniversityID, SitsProfile],
)(implicit context: RequestContext, messages: MessagesProvider)

<table class="table table-striped table-sortable">
  <thead>
    <tr>
      <th>University ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Department</th>
      <th>User type</th>
      @if(context.features.importStudentExtraTime) {
        <th>Extra time (per hr)</th>
      }
    </tr>
  </thead>
  <tbody>
  @students.map { student =>
    <tr>
      <td><a href="@context.tabulaConfiguration.getProfileUrl(student.studentId)" target="_blank">@student.studentId.string</a></td>
      @studentInformation.get(student.studentId) match {
        case Some(p) => {
          <td>@p.firstName</td>
          <td>@p.lastName</td>
          <td>@p.department.name</td>
          <td>@views.tags.profiles.typeAndAttendance(p)</td>
        }
        case _ => {
          <td colspan="4"><em>Unknown</em></td>
        }
      }
      @if(context.features.importStudentExtraTime) {
        <td data-sort="@student.extraTimeAdjustmentPerHour.map(_.toMillis)">
        @student.extraTimeAdjustmentPerHour.map(d => DurationFormatUtils.formatDurationWords(d.toMillis, true, true))
        </td>
      }
    </tr>
  }
  </tbody>
</table>
