@import domain.Assessment
@import tags._
@import warwick.fileuploads.UploadedFileControllerHelper.UploadedFileConfiguration

@(
  assessment: Assessment,
  uploadedFileConfig: UploadedFileConfiguration,
)(implicit context: RequestContext, request: RequestHeader, messages: MessagesProvider)

@adminLayout(title = s"Student preview of ${assessment.title}") {
  <div class="panel panel-default assessment-information-panel">
    <div class="brand-stripe"></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6">
          <h4>@assessment.title</h4>
          <dl>
          @assessmentMetadataInternal(assessment)
          </dl>
        </div>
      </div>
    </div>
  </div>

  @assessmentBrief(assessment, None, uploadedFileConfig)
}
