@import tags._
@import domain.{Assessment,  StudentAssessment}
@import domain.tabula.SitsProfile
@import domain.tabula.Department
@import warwick.sso.UniversityID
@import system.routes.Types.Usercode
@import warwick.core.views.utils._

@import domain.tabula.TabulaAssignment
@(
  assessment: Assessment,
  tabulaAssignments: Seq[TabulaAssignment],
  studentAssessments: Seq[StudentAssessment],
  studentInformation: Map[UniversityID, SitsProfile],
  department: Option[Department],
  invigilators: Map[Usercode, String],
  allowAssessmentTypeChangesOnImportedAssessments: Boolean,
  numberOfPlatforms: Int = 2
)(implicit context: RequestContext, request: RequestHeader, messages: MessagesProvider)


@adminLayout(title = s"Assessment for ${assessment.title} (${assessment.moduleCode})", extraClasses = Seq("grey-nopad")) {
  <div class="row">
    <div class="col-md-6">
    @moduleInfo(assessment, department)
    </div>
    <div class="col-md-6">
      @moduleBrief(assessment)
      <dl class="panel panel-default">
        <div class="panel-body">
          <dt>Tabula assignments</dt>
          <dd>
            <ul>
              @tabulaAssignments.map { assignment =>
                <li><a href="@context.tabulaConfiguration.getAssignmentUrl(assignment.id)">@assignment.academicYear</a></li>
              }
            </ul>
          </dd>
          @if(tabulaAssignments.isEmpty) {
            @if(studentAssessments.nonEmpty) {
              @b3.vertical.formCSRF(action = controllers.admin.routes.AdminAssessmentsController.generateAssignments(assessment.id)) { implicit vfc =>
                <button type="submit" class="btn btn-primary">Generate assignments</button>
              }
            } else {
              <button class="btn btn-primary" disabled="disabled" data-toggle="tooltip" data-placement="top"
                title="Unable to generate assessments - no students are linked to this assessment"
              >
                Generate assignments
              </button>
            }
          }
        </div>
      </dl>
      <div class="panel panel-default">
        <div class="panel-body">
          <details>
            <summary class="text-muted">Invigilators</summary>
            <ul>
            @assessment.invigilators.map { usercode =>
              <li>
                @invigilators.get(usercode).map { username =>
                <span>@username</span>
                <span class="text-muted">(@usercode.string)</span>
                }.getOrElse(usercode.string)
              </li>
            }
            </ul>
          </details>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <details>
        <summary class="text-muted">@studentAssessments.size @pl(studentAssessments.size, "student")()</summary>
        @studentsTable(Some(assessment), studentAssessments, studentInformation)
      </details>
    </div>
  </div>
}
