@import domain.tabula.{Department, SitsProfile, TabulaAssignment}
@import domain.{Assessment, AssessmentClientNetworkActivity, StudentAssessment}
@import tags._
@import warwick.core.views.utils._
@import warwick.sso.{UniversityID, Usercode}

@(
  assessment: Assessment,
  tabulaAssignments: Seq[TabulaAssignment],
  studentAssessments: Seq[StudentAssessment],
  studentInformation: Map[UniversityID, SitsProfile],
  department: Option[Department],
  invigilators: Seq[(Usercode, String)],
  invigilatorActivities: Map[Usercode, AssessmentClientNetworkActivity],
  allowAssessmentTypeChangesOnImportedAssessments: Boolean,
  numberOfPlatforms: Int = 2
)(implicit context: RequestContext, request: RequestHeader, messages: MessagesProvider)

@adminLayout(title = s"Assessment for ${assessment.title} (${assessment.moduleCode})", extraClasses = Seq("grey-nopad")) {
  <div class="row">
    <div class="col-md-6">
      @moduleInfo(assessment, department)
      @downloadSubmissionsPanel(assessment, controllers.admin.routes.AdminSubmissionsDownloadController.download(assessment.id), controllers.admin.routes.AdminSubmissionsDownloadController.submissionsCSV(assessment.id))
      @if(tabulaAssignments.nonEmpty) {
        <dl class="panel panel-default">
          <div class="panel-body">
            <dt>Tabula assignments</dt>
            <dd>
              <ul>
              @tabulaAssignments.map { assignment =>
                <li><a href="@context.tabulaConfiguration.getAssignmentUrl(assignment.id)">@assignment.academicYear</a></li>
              }
              </ul>
            </dd>
          </div>
        </dl>
      }
    </div>
    <div class="col-md-6">
      @moduleBrief(assessment, (a, f) => controllers.admin.routes.AdminAssessmentsController.getFile(a.id, f.id))
      @invigilatorsPanel(assessment, invigilators, invigilatorActivities, controllers.admin.routes.AdminAssessmentsController.invigilatorsAjax(assessment.id))
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <details>
        <summary class="text-muted">@studentAssessments.size @pl(studentAssessments.size, "student")()</summary>
        @studentsTable(Some(assessment), studentAssessments, studentInformation)
      </details>
    </div>
  </div>
}
