/conf/application.conf
/conf/functional-test.conf
/conf/ehcache.properties
/conf/*secret*
/conf/worker.conf
/conf/local-dev.conf
/logs
/classes
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/data
/.cache-*
/bin
target
gulpopts.json
logback.xml
logback-access.xml
browserify-cache*.json
.DS_Store
*.p12
*.key
*.jks
*.keystore
*.swp
*ensime*
*.log
/.babel-loader-caches

npm-debug.log
node_modules
/mocha.json

/.idea/*
!/.idea/codeStyles
!/.idea/codeStyleSettings.xml
!/.idea/fileTemplates
*.code-workspace/
.bloop
.metals
/project/metals.sbt
