@import tags._
@import domain.Assessment
@import services.ReportingService.AssessmentReport
@(assessment: Assessment, report: AssessmentReport)(implicit context: RequestContext)

@frontend(assessment.title) {
  @assessmentMetadata(assessment)

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Expected</th>
        <th>Started</th>
        <th>Not started</th>
        <th>Submitted</th>
        <th>Finalised</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          @if(report.expectedSittings.nonEmpty) {
            <a href="@controllers.admin.routes.ReportingController.expected(assessment.id)">@report.expectedSittings.length</a>
          } else {
            @report.expectedSittings.length
          }
        </td>
        <td>
          @if(report.startedSittings.nonEmpty) {
            <a href="@controllers.admin.routes.ReportingController.started(assessment.id)">@report.startedSittings.length</a>
          } else {
            @report.startedSittings.length
          }
        </td>
        <td>
          @if(report.notStartedSittings.nonEmpty) {
            <a href="@controllers.admin.routes.ReportingController.notStarted(assessment.id)">@report.notStartedSittings.length</a>
          } else {
            @report.notStartedSittings.length
          }
        </td>
        <td>
          @if(report.submittedSittings.nonEmpty) {
            <a href="@controllers.admin.routes.ReportingController.submitted(assessment.id)">@report.submittedSittings.length</a>
          } else {
            @report.submittedSittings.length
          }
        </td>
        <td>
          @if(report.finalisedSittings.nonEmpty) {
            <a href="@controllers.admin.routes.ReportingController.expected(assessment.id)">@report.finalisedSittings.length</a>
          } else {
            @report.finalisedSittings.length
          }
        </td>
      </tr>
    </tbody>
  </table>
}
