@import tags._
@import domain.StudentAssessmentMetadata
@import domain.Assessment
@import warwick.sso.User
@import warwick.sso.UniversityID
@import org.apache.commons.lang3.time.DurationFormatUtils
@import tags._
@(assessment: Assessment, metadata: Seq[StudentAssessmentMetadata], userMap: Map[UniversityID, User], title: String, route: String)(implicit context: RequestContext)

@frontend(assessment.title) {
  @assessmentMetadata(assessment)

  <h2>@title</h2>
  <div class="studentAssessmentInfo" data-id="@assessment.id" data-route="@route">
    @studentAssessmentInfo(metadata, userMap)
  </div>
}
