@import domain.AssessmentMetadata
@(startedAndSubmittable: Seq[AssessmentMetadata], notLive: Seq[AssessmentMetadata])(implicit context: RequestContext)

@frontend("Today's assessments") {
  <h2>Started and still submittable</h2>

  @if(startedAndSubmittable.isEmpty) {
    <p><i class="fad fa-align-slash"></i>
      There are currently no assessments that have started and could still recieve submissions.</p>
  } else {
    <ul>
    @startedAndSubmittable.map { assessment =>
      <li><a href="/admin/reporting/@assessment.id"><b>@assessment.paperCode</b>@assessment.section.map(s => s" (Section $s)").getOrElse(""): @assessment.title</a></li>
    }
    </ul>
  }

  <h2>Non-live (completed and pending)</h2>

  @if(notLive.isEmpty) {
    <p><i class="fad fa-align-slash"></i> There are no non-live assessments right now.</p>
  } else {
    <ul>
    @notLive.map { assessment =>
      <li><a href="/admin/reporting/@assessment.id"><b>@assessment.paperCode</b>@assessment.section.map(s => s" (Section $s)").getOrElse(""): @assessment.title</a></li>
    }
    </ul>
  }
}
