@import domain.messaging.{Message, MessageSender}
@import domain.{Announcement, Assessment, tabula}
@import tags._
@import warwick.core.views.utils._
@import warwick.sso.{UniversityID, User, Usercode}
@(
  assessment: Assessment,
  announcements: Seq[Announcement],
  messages: Seq[Message],
  students: Map[UniversityID, tabula.SitsProfile],
  department: Option[tabula.Department],
  form: Form[String],
  invigilators: Map[Usercode, User] = Map.empty[Usercode, User],
)(implicit request: RequestHeader, messagesProvider: MessagesProvider, context: RequestContext)
@adminLayout("Announcements and queries for " + assessment.moduleCode, extraClasses = Seq("connect-ws", "allAnnouncementsAndQueries")) {
  <div class="id7-main-content">
    <span class="in-progress-assessment-data" data-assessment="@assessment.id" data-usercode="@context.user.map(_.usercode.string)"></span>

    <div class="alert alert-info hidden notification-permission">
      Alternative Exams Portal needs your permission to <a href="#" class="btn btn-primary btn-xs">show system notifications</a> for student queries
    </div>

    <details open>
      <summary class="h3">Announcements (@announcements.size)</summary>
      @displayAnnouncements(announcements, invigilators)
    </details>
    @b3.vertical.formCSRF(controllers.invigilation.routes.AnnouncementAndQueriesController.addAnnouncement(assessment.id), Symbol("class") -> "double-submit-protection") { implicit fc =>
      @views.html.tags.globalErrors(form)

      @b3.textarea(form("message"), Symbol("rows") -> 5)

      @b3.submit(Symbol("class") -> "btn btn-default"){ <i class="fas fa-plus fa-fw"></i> Add a new announcement }
    }
    <details open>
      @defining(messages.groupBy(_.student).size) { numberOfStudents: Int =>
        @defining(messages.count(_.sender == MessageSender.Student)) { numberOfMessages: Int =>
          @if(numberOfStudents == 0) {
            <summary class="h3">Queries (no queries received)</summary>
          } else {
            <summary class="h3 sets-document-title-prefix" data-document-title-prefix="(@numberOfMessages)">Queries (@numberOfMessages @pl(numberOfMessages, "query")(plural = "queries") from @numberOfStudents @pl(numberOfStudents, "student")())</summary>
          }
        }
      }
      @displayMessages(
        messages = messages,
        students = students,
        threaded = true,
        invigilators = invigilators,
        latestMessageOnTop = !context.features.twoWayMessages
      ) { universityID =>
        @if(context.features.twoWayMessages) {
          @views.html.invigilation.messageForm(assessment.id, universityID, students.get(universityID).map(s => s"${s.fullName} (${s.universityID.string})").getOrElse(universityID.string))
        }
      }
    </details>

    <a class="btn btn-default" href="@controllers.invigilation.routes.InvigilatorAssessmentController.view(assessment.id)">
      <i class="fas fa-arrow-left"></i>
      Return to invigilation screen
    </a>
  </div>
}
