@import tags._
@import domain.Assessment
@import system.routes.Types.Usercode
@import domain.tabula
@import domain.StudentAssessment
@import domain.AssessmentClientNetworkActivity
@import warwick.sso.UniversityID
@import views.html.invigilation._
@import java.util.UUID
@import domain.SittingMetadata

@(
        assessment: Assessment,
        sittingMetadata: Seq[SittingMetadata],
        invigilators: Map[Usercode, String],
        students: Map[UniversityID, tabula.SitsProfile],
        department: Option[tabula.Department],
        studentsWithQueries: Seq[UniversityID],
        latestActivities: Map[UUID, AssessmentClientNetworkActivity]
)(implicit request: RequestHeader, messagesProvider: MessagesProvider, context: RequestContext)
@adminLayout(s"Invigilation for assessment ${assessment.moduleCode}", headTitle = s"${assessment.moduleCode} invigilation") {
    <div class="id7-main-content">
        <div class="row">
            <div class="col-md-6">
                @moduleInfo(assessment, department)
            </div>
            <div class="col-md-6">
                @moduleBrief(assessment)
                <div class="panel panel-default">
                    <div class="panel-body">
                        <details>
                            <summary class="text-muted">Invigilators</summary>
                            <ul>
                            @assessment.invigilators.map { usercode =>
                                <li>
                                    @invigilators.get(usercode).map { username =>
                                    <span>@username</span>
                                    <span class="text-muted">(@usercode.string)</span>
                                    }.getOrElse(usercode.string)
                                </li>
                            }
                            </ul>
                        </details>
                    </div>
                </div>
            </div>
        </div>
        <h2>Students</h2>
        <div class="alert alert-info">
            <i class="fad themed-duotone fa-clock" aria-hidden="true"></i> This information automatically updates every 30 seconds.
        </div>
        <div class="studentAssessmentInfo" data-id="@assessment.id" data-route="expected">
            @studentAssessmentInfo(sittingMetadata, students, Some(studentsWithQueries), latestActivities)
        </div>
        @if(assessment.isDownloadAvailable) {
            <p>
                <a href="@controllers.invigilation.routes.AssessmentSubmissionsDownloadController.download(assessment.id)" class="btn btn-default"><i class="fad themed-duotone fa-folder-download"></i> Download submissions</a>
            </p>
        }
    </div>
}
