@import tags._
@import domain.Assessment
@import system.routes.Types.Usercode
@import domain.tabula
@import domain.AssessmentClientNetworkActivity
@import warwick.sso.UniversityID
@import java.util.UUID
@import domain.SittingMetadata
@import warwick.core.helpers.JavaTime

@import domain.messaging.Message
@(
        assessment: Assessment,
        sittingMetadata: Seq[SittingMetadata],
        invigilators: Map[Usercode, String],
        students: Map[UniversityID, tabula.SitsProfile],
        department: Option[tabula.Department],
        studentsWithQueries: Seq[UniversityID],
        queriesFromStudents: Seq[Message],
        invigilatorActivities: Map[Usercode, AssessmentClientNetworkActivity],
        latestStudentActivities: Map[UUID, AssessmentClientNetworkActivity]
)(implicit request: RequestHeader, messagesProvider: MessagesProvider, context: RequestContext)
@adminLayout(s"Invigilation for assessment ${assessment.moduleCode}", headTitle = s"${assessment.moduleCode} invigilation", extraClasses = Seq("connect-ws")) {
    <div class="id7-main-content">
        <span class="in-progress-assessment-data" data-assessment="@assessment.id" data-usercode="@context.user.map(_.usercode.string)"></span>
        <div class="row">
            <div class="col-md-6">
                @moduleInfo(assessment, department)
            </div>
            <div class="col-md-6">
                @moduleBrief(assessment)
                <div class="panel panel-default">
                    <div class="panel-body">
                        <details>
                            <summary class="text-muted">Invigilators</summary>
                            <ul>
                            @assessment.invigilators.map { usercode =>
                                <li>
                                    @if(invigilatorActivities.contains(usercode)) {
                                        @invigilatorActivities.get(usercode).map { latestActivity =>
                                            @invigilators.get(usercode).map { username =>
                                                <span class="@if(latestActivity.isOnline){text-success}else{text-danger}"><i class="fad @if(latestActivity.isOnline){fa-wifi}else{fa-wifi-slash}"></i> @username</span>
                                                <span class="text-muted">(@usercode.string)</span>
                                            }.getOrElse {
                                                <span class="@if(latestActivity.isOnline){text-success}else{text-danger}"><i class="fad @if(latestActivity.isOnline){fa-wifi}else{fa-wifi-slash}"></i> @usercode.string</span>
                                            }

                                            <ul>
                                                <li>Last seen online @JavaTime.Relative(latestActivity.timestamp)</li>
                                            </ul>
                                        }
                                    } else {
                                         @invigilators.get(usercode).map { username =>
                                            <span class="text-danger"><i class="fad fa-wifi-slash"></i> @username</span>
                                            <span class="text-muted">(@usercode.string)</span>
                                        }.getOrElse {
                                            <span class="text-danger"><i class="fad fa-wifi-slash"></i> @usercode.string</span>
                                        }

                                        <ul>
                                            <li>Never seen online</li>
                                        </ul>
                                    }
                                </li>
                            }
                            </ul>
                        </details>
                    </div>
                </div>
            </div>
        </div>
        <h2>Students</h2>
        <div class="alert alert-info">
            <i class="fad themed-duotone fa-clock" aria-hidden="true"></i> This information automatically updates every 30 seconds.
        </div>
        <div class="studentAssessmentInfo" data-id="@assessment.id" data-route="expected">
            @studentAssessmentInfo(sittingMetadata, students, Some(studentsWithQueries), queriesFromStudents.size, latestStudentActivities)
        </div>
        @if(assessment.isDownloadAvailable) {
            <p>
                <a href="@controllers.invigilation.routes.AssessmentSubmissionsDownloadController.download(assessment.id)" class="btn btn-default"><i class="fad themed-duotone fa-folder-download"></i> Download submissions</a>
            </p>
        }
    </div>
}
