@import tags._
@import domain.messaging.Message
@import warwick.sso.User
@import warwick.sso.UniversityID
@(
        queries: Seq[Message],
        students: Map[UniversityID, User],
)(implicit request: RequestHeader, messagesProvider: MessagesProvider, context: RequestContext)

<h3>Queries</h3>
<div class="query-container">
  <div class="query-container-inner">
    @queries.map { query =>
      <div class="query">
        <div class="query-user">
          @students.get(query.client).map { u =>
            @u.name.full (@query.client.string)
          }.getOrElse(query.client.string)
        </div>
        <div class="query-text">
          @query.text
        </div>
        <div class="query-time">
          @localisedDatetime(query.created)
        </div>
      </div>
    }
  </div>
</div>
