@import tags._
@import domain.Assessment
@import system.routes.Types.Usercode
@import domain.tabula
@import domain.StudentAssessmentMetadata
@import warwick.sso.UniversityID
@import warwick.sso.User
@import views.html.invigilation._

@(
        assessment: Assessment,
        studentAssessments: Seq[StudentAssessmentMetadata],
        invigilators: Map[Usercode, String],
        students: Map[UniversityID, User],
        department: Option[tabula.Department],
        studentsWithQueries: Seq[UniversityID]
)(implicit request: RequestHeader, messagesProvider: MessagesProvider, context: RequestContext)
@adminLayout(s"Invigilation for assessment ${assessment.moduleCode}") {
    <div class="id7-main-content">
        <div class="row">
            <div class="col-md-6">
                @moduleInfo(assessment, department)
            </div>
            <div class="col-md-6">
                @moduleBrief(assessment)
                <dl class="panel panel-default">
                    <div class="panel-body">
                        <dt>Invigilators</dt>
                        <dd>
                            <ul>
                            @assessment.invigilators.map { usercode =>
                                <li>
                                    @invigilators.get(usercode).map { username =>
                                    <span>@username</span>
                                    <span class="text-muted">(@usercode.string)</span>
                                    }.getOrElse(usercode.string)
                                </li>
                            }
                            </ul>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
        <h2>Students</h2>
        <div class="alert alert-info">
            <i class="fad themed-duotone fa-clock" aria-hidden="true"></i> This information automatically updates every 30 seconds.
        </div>
        <div class="studentAssessmentInfo" data-id="@assessment.id" data-route="expected">
            @studentAssessmentInfo(studentAssessments, students, Some(studentsWithQueries))
        </div>
    </div>
}
