@import tags._
@import domain.AnnouncementOrQuery
@import warwick.sso.User
@import warwick.sso.UniversityID
@(
        announcementsAndQueries: Seq[AnnouncementOrQuery],
        students: Map[UniversityID, User],
)(implicit request: RequestHeader, messagesProvider: MessagesProvider, context: RequestContext)

<h3>Queries</h3>
<div class="query-container">
  <div class="query-container-inner">
    @announcementsAndQueries.map { query =>
      @query.sender match {
        case Left(sender: String) => {
          <div class="announcement">
            <div class="query-user">
              @sender
            </div>
            <div class="query-text">
          @query.text
            </div>
            <div class="query-time">
          @localisedDatetime(query.date)
            </div>
          </div>
        }
        case Right(universityID: UniversityID) => {
          <div class="query">
            <div class="query-user">
              @students.get(universityID).map { u =>
                @u.name.full (@universityID.string)
              }.getOrElse(universityID.string)
            </div>
            <div class="query-text">
              @query.text
            </div>
            <div class="query-time">
              @localisedDatetime(query.date)
            </div>
          </div>
        }
      }
    }
  </div>
</div>
