@import tags._
@import domain.AnnouncementOrQuery
@import warwick.sso.User
@import warwick.sso.UniversityID
@(
        announcementsAndQueries: Seq[AnnouncementOrQuery],
        students: Map[UniversityID, User],
)(implicit request: RequestHeader, messagesProvider: MessagesProvider, context: RequestContext)

<div class="query-container">
  @announcementsAndQueries.map { query =>
    <div class="@if(query.isAnnouncement){announcement} else {query}">
      <div class="query-user">
        @query.sender match {
          case Left(sender: String) => { @sender }
          case Right(universityID: UniversityID) => {
            @students.get(universityID).map { u =>
              @u.name.full (@universityID.string)
            }.getOrElse(universityID.string)
          }
        }
      </div>
      <div class="query-text">
      @query.text
      </div>
      <div class="query-time">
      @localisedDatetime(query.date)
      </div>
    </div>
  }
</div>
