@import domain.AssessmentMetadata

@import services.TimingInfoService
@(
    assessments: Seq[(AssessmentMetadata, Int)],
    timingInfo: TimingInfoService,
)(implicit request: RequestHeader, messagesProvider: MessagesProvider, context: RequestContext)
@adminLayout("View assessments") {
    @listTable("Current assessments", assessments.filter(_._1.isCurrent(timingInfo.lateSubmissionPeriod)))
    @listTable("Upcoming assessments", assessments.filter(_._1.isInFuture))
    @listTable("Past assessments", assessments.filter { case (a, _) => !a.isCurrent(timingInfo.lateSubmissionPeriod) && !a.isInFuture })
}
