@import tags._
@import domain.Assessment
@import domain.tabula
@import views.html.tags.durationWords

@(
    assessment: Assessment,
    department: Option[tabula.Department],
)(implicit request: RequestHeader, messagesProvider: MessagesProvider, context: RequestContext)
<dl class="panel panel-default">
    <div class="panel-body">
        <dt>Module code</dt>
        <dd>@assessment.moduleCode</dd>

        <dt>Department code</dt>
        <dd>
            @departmentName(department, assessment.departmentCode)
        </dd>

        <dt>State</dt>
        <dd>@assessment.state.label</dd>

        @assessment.tabulaAssessmentId.map { tabulaId =>
            <dt>TabulaAssessment id</dt>
            <dd>@tabulaId</dd>
        }

        <dt>Platforms</dt>
        <dd>@assessment.platform.map(_.label).mkString(",")</dd>

        @assessment.assessmentType.map { at =>
            <dt>Type</dt>
            <dd>@at.label</dd>
        }

        <dt>Starts at</dt>
        <dd>@assessment.startTime.map { t => @localisedDatetime(t) }</dd>

        <dt>Duration</dt>
        <dd>@durationWords(assessment)</dd>
    </div>
</dl>
