@import domain.messaging.Message
@import domain.{Announcement, Assessment, SittingMetadata, StudentAssessment, tabula}
@import tags._
@import warwick.sso.{UniversityID, User, Usercode}
@(
    assessment: Assessment,
    studentAssessment: StudentAssessment,
    announcements: Seq[Announcement],
    messages: Seq[Message],
    student: Map[UniversityID, tabula.SitsProfile],
    invigilators: Map[Usercode, User],
    department: Option[tabula.Department],
)(implicit request: RequestHeader, messagesProvider: MessagesProvider, context: RequestContext)
@adminLayout("Queries from " + student.get(studentAssessment.studentId).map(_.fullName).getOrElse(studentAssessment.studentId.string) + " for " + assessment.moduleCode) {
    <div class="id7-main-content">
        @studentAssessmentInfo(Seq(SittingMetadata(studentAssessment, assessment.asAssessmentMetadata)), assessment.platform, student)
        <div class="row">
            <div class="col-md-6">
                <h3>Announcements</h3>
                @displayAnnouncements(announcements, invigilators)
            </div>
            <div class="col-md-6">
                <h3>Queries</h3>
                @displayMessages(messages, student)
            </div>
        </div>
        <a class="btn btn-default" href="@controllers.invigilation.routes.InvigilatorAssessmentController.view(assessment.id)">
            <i class="fas fa-arrow-left"></i>
            Return to invigilation screen
        </a>
    </div>
}
