@import domain.messaging.Message
@import domain.{Announcement, Assessment, SittingMetadata, StudentAssessment, tabula}
@import tags._
@import warwick.sso.{UniversityID, User, Usercode}
@import domain.messaging.MessageSender
@(
    assessment: Assessment,
    studentAssessment: StudentAssessment,
    announcements: Seq[Announcement],
    messages: Seq[Message],
    student: Map[UniversityID, tabula.SitsProfile],
    invigilators: Map[Usercode, User],
    department: Option[tabula.Department],
)(implicit request: RequestHeader, messagesProvider: MessagesProvider, context: RequestContext)
@adminLayout("Queries from " + student.get(studentAssessment.studentId).map(_.fullName).getOrElse(studentAssessment.studentId.string) + " for " + assessment.moduleCode) {
    <div class="id7-main-content">
        @studentAssessmentInfo(Seq(SittingMetadata(studentAssessment, assessment.asAssessmentMetadata)), assessment.platform, student)
        <details>
            <summary class="h3">Announcements (@announcements.size)</summary>
            @displayAnnouncements(announcements, invigilators)
        </details>
        <details open>
            <summary class="h3">Queries (@messages.count(_.sender == MessageSender.Student))</summary>
            @displayMessages(
                messages = messages,
                students = student,
                threaded = false,
                maybeForm = None,
                submitCall = None,
                invigilators = invigilators
            )
        </details>
        <a class="btn btn-default" href="@controllers.invigilation.routes.InvigilatorAssessmentController.view(assessment.id)">
            <i class="fas fa-arrow-left"></i>
            Return to invigilation screen
        </a>
    </div>
}
