include "defaults"
include "local-dev"

domain = "changeme.warwick.ac.uk"

slick.dbs.default {
  db {
    url = "jdbc:postgresql://localhost:5432/casemanagement"
    user = "casemanagement"
    password = this is where your password goes
  }
}

sso-client {
  credentials {
    certificate = "file:/home/me/.ssl/changeme.warwick.ac.uk.crt"
    key = "file:/home/me/.ssl/changeme.warwick.ac.uk.key"
    chain = "file:/home/me/.ssl/terena-sha2-ca.crt"
  }
  trustedapps {
    publickey = "..."
    privatekey = "..."
  }
}