<configuration>
    <!--
    According to logback docs it SHOULD be possible to call this file logback-test.xml and have
    it found first, but Play overrides some stuff so this is only found by manually setting
    -Dlogger.resource, which we do in the SBT build. Have chosen a different name to make it
    clear that it's not using logback's own mechanism.
    -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} TEST %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="h2database" level="DEBUG" />

    <root level="off">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Set SQL_LEVEL=DEBUG in an env var or sys prop to enable -->
    <!-- Set SQL_PARAM_LEVEL=OFF if you don't want the bind parameters -->
    <logger name="slick.jdbc.JdbcBackend.statement"  level="${SQL_LEVEL:-OFF}" />
    <logger name="slick.jdbc.JdbcBackend.parameter" level="${SQL_PARAM_LEVEL:-${SQL_LEVEL:-OFF}}" />

</configuration>
