@import domain.StudentAssessmentWithAssessment
@import play.api.libs.json.Json

@import play.api.libs.json.JsNumber
@import play.api.libs.json.JsBoolean
@(studentAssessmentWithAssessment: StudentAssessmentWithAssessment, isAssessmentPage: Boolean = false)(implicit request: RequestHeader, context: RequestContext)

@studentAssessmentWithAssessment.assessment.startTime.map { startTime =>
    <span>
        <i class="fad fa-fw fa-hourglass"></i>
        <span
        class="time-left-to-start"
        data-rendering=@{
            Json.stringify(Json.toJson(Map(
                "start" -> JsNumber(startTime.toInstant.toEpochMilli),
                "end" -> JsNumber(startTime.toInstant.toEpochMilli + studentAssessmentWithAssessment.assessment.duration.toMillis),
                "studentStarted" -> JsBoolean(studentAssessmentWithAssessment.studentAssessment.startTime.nonEmpty),
            )))
        }
        ></span>
    </span>
}
