@import domain.Assessment
@import views.html.tags._
@import Assessment.DurationStyle._

@(assessment: Assessment)(implicit context: RequestContext)

<dt>Module</dt>
<dd>
    @assessment.moduleCode
</dd>

@assessment.durationStyle.map { d =>
    <dt>Type</dt>
    <dd>@d.label</dd>
}

@assessment.brief.text.map { description =>
    <dt>Details</dt>
    <dd>
        <blockquote>
            @formattedBriefText(description)
        </blockquote>
    </dd>
}

@if(assessment.duration.nonEmpty) {
    <dt>Duration</dt>
    <dd>
        <i class="fad themed-duotone fa-stopwatch fa-fw"></i>@durationWords(assessment)

        @if(!assessment.hasLastAllowedStartTimePassed()) {
            @assessment.durationStyle match {
                case Some(DayWindow) => {
                    <div>
                        <i class="fad fa-fw fa-calendar-day" aria-hidden="true"></i> Complete anytime within the 24 hours
                    </div>
                }
                case Some(FixedStart) => {
                    <div class="text-danger">
                        <i class="fad fa-fw fa-watch" aria-hidden="true"></i> This is a fixed time assessment. It does not run in a 24 hour window, so you must begin at the start time.
                    </div>
                }
                case _ => {}
            }
        }
    </dd>
}

@assessment.startTime.map { startTime =>
    <dt>Start time</dt>
    <dd>
        @localisedDatetime(startTime)
    </dd>
}
