@import domain.Assessment
@import views.html.tags._

@(assessment: Assessment)(implicit context: RequestContext)

<dt>Module</dt>
<dd>
    @assessment.paperCode
    @assessment.section.map(s => s"(Section $s)")
</dd>

@assessment.assessmentType.map { at =>
    <dt>Type</dt>
    <dd>@at.studentFriendlyLabel</dd>
}

@assessment.brief.text.map { description =>
    <dt>Details</dt>
    <dd>
        <blockquote>
            @formattedBriefText(description)
        </blockquote>
    </dd>
}

@if(assessment.duration.nonEmpty) {
    <dt>Duration</dt>
    <dd>
        <i class="fad themed-duotone fa-stopwatch fa-fw"></i>@durationWords(assessment)
    </dd>
}
