@import domain.Assessment.Platform
@import domain.Sitting
@import tags._

@(sitting: Sitting)(implicit request: RequestHeader, context: RequestContext)
@for(
    startTime <- sitting.studentAssessment.startTime;
    duration <- sitting.duration;
    durationIncludingLate <- sitting.durationIncludingLate
    if sitting.assessment.platform.contains(Platform.OnlineExams)
) {
    <div class="timeline">
        <div class="block turqoise">
            <div class="left">
                <div class="bubble"><i class="fal fa-2x fa-clock"></i></div>
                <div class="stick"></div>
            </div>
            <div class="middle">
                <div class="peg"></div>
            </div>
            <div class="right">
                <h1>@localisedDatetime(sitting.assessment.startTime.get) Assessment opened</h1>
                @sitting.assessment.lastAllowedStartTime.map { end =>
                    <p>
                        The assessment can be started any time between @bareLocalisedDateTime(sitting.assessment.startTime.get) and @bareLocalisedDateTime(end, includeFullStop = true)</p>
                }
            </div>
        </div>
        <div class="block green active">
            <div class="left">
                <div class="bubble"><i class="fal fa-2x fa-stopwatch"></i></div>
                <div class="stick"></div>
            </div>
            <div class="middle">
                <div class="peg"></div>
            </div>
            <div class="right">
                <h1>@localisedDatetime(startTime) You started the assessment</h1>
                <p>
                This is a @duration.toHours hour paper, plus @sitting.uploadGraceDuration.toMinutes minutes to upload your answers, so you should be aiming to finish answering by @bareLocalisedDateTime(startTime.plus(duration), includeFullStop = true)</p>
                <p>Please plan your time accordingly.</p>
                @if(duration.toHours==3) {
                    <div class="duration-3-spacer"></div>
                }
            </div>
        </div>
        <div class="block orange">
            <div class="left">
                <div class="bubble"><i class="fal fa-cloud-upload fa-2x"></i></div>
                <div class="stick"></div>
            </div>
            <div class="middle">
                <div class="peg"></div>
            </div>
            <div class="right">
                <h1 class="mb-1">@localisedDatetime(startTime.plus(duration))
                    You have @sitting.uploadGraceDuration.toMinutes minutes until @bareLocalisedDateTime(startTime.plus(duration).plus(sitting.uploadGraceDuration)) to upload your answers</h1>
            </div>
        </div>
        <div class="block pink">
            <div class="left">
                <div class="bubble"><i class="fal fa-exclamation-triangle fa-2x"></i></div>
                <div class="stick"></div>
            </div>
            <div class="middle">
                <div class="peg"></div>
            </div>
            <div class="right">
                <h1>@localisedDatetime(startTime.plus(duration).plus(sitting.uploadGraceDuration))
                    Your assessment is now late</h1>
                <p>
                You can still upload your answers but you may be subject to late penalties, unless you have reasonable adjustments.</p>
                <div class="vert-space"></div>
            </div>
        </div>
        <div class="block red">
            <div class="left">
                <div class="bubble"><i class="fal fa-ban fa-2x"></i></div>
            </div>
            <div class="middle">
                <div class="peg"></div>
            </div>
            <div class="right">
                <h1>@localisedDatetime(startTime.plus(durationIncludingLate).plus(sitting.uploadGraceDuration)) You can't upload answers at all after this point</h1>
            </div>
        </div>
    </div>
}
