@import domain.Assessment
@import views.html.tags.durationWords

@(assessment: Assessment)(implicit context: RequestContext)

<dt>Module</dt>
<dd>
    @assessment.paperCode
    @assessment.section.map(s => s"(Section $s)")
</dd>

<dt>Type</dt>
<dd>@assessment.assessmentType.map(_.label).getOrElse("")</dd>

@assessment.brief.text.map { description =>
    <dt>Details</dt>
    <dd>
        <blockquote>
            @description
        </blockquote>
    </dd>
}

<dt>Duration</dt>
<dd>
    <i class="fad themed-duotone fa-stopwatch fa-fw"></i>@durationWords(assessment)
</dd>

