@import domain.Assessment.Platform
@import domain.StudentAssessmentWithAssessment
@import tags._

@(assessment: StudentAssessmentWithAssessment, isAssessmentPage: Boolean = false)(implicit request: RequestHeader, context: RequestContext)
<div class="panel panel-default assessment-information-panel">
    @if(isAssessmentPage) {
        <div class="brand-stripe"></div>
        <svg class="pretty-patterns visible-lg" width="640" height="784" fill="none" viewBox="0 0 640 784">
            <defs>
                <pattern id="pattern" x="118" width="20" height="20" patternUnits="userSpaceOnUse" y="2">
                    <rect width="4" height="4" class="pattern-item" fill="currentColor" y="7" x="8"></rect>
                </pattern>
            </defs>
            <rect x="118" height="784" fill="url(#pattern)" width="640"></rect>
        </svg>
    }
    <div class="panel-body">
        @if(!isAssessmentPage) {
            <h4>
                @if(assessment.finalised) {
                    <i class="fad themed-duotone fa-check fa-fw"></i>
                }
                @assessment.assessment.title
            </h4>
        }

        @studentAssessmentMetadata(assessment)

        @assessment.assessment.platform match {
            case Platform.OnlineExams => {
                @if(isAssessmentPage) {
                    @b3.vertical.formCSRF(controllers.routes.AssessmentController.start(assessment.assessment.id)) { implicit fc =>
                        @if(assessment.studentAssessment.startTime.isEmpty) {
                            <button type="submit" class="btn btn-primary" id="startAssessment">
                                Start
                            </button>
                        }
                        @assessmentTiming(assessment)
                    }
                } else {
                    <a href="@routes.AssessmentController.view(assessment.assessment.id)" class="btn btn-primary">
                        View
                    </a>
                    @assessmentTiming(assessment)
                }
            }
            case Platform.Moodle => {
                <a href="/service/stub" target="_blank">
                    Exam on Moodle<i class="fa fa-fw fa-external-link"></i>
                  </a>
            }
            case Platform.QuestionmarkPerception => {
                <a href="/service/stub" target="_blank">
                    Exam on Questionmark Perception<i class="fa fa-fw fa-external-link"></i>
                  </a>
            }
        }
    </div>
</div>
