@import java.util.UUID

@import domain.Assessment
@import domain.Assessment.Platform
@import warwick.fileuploads.UploadedFileControllerHelper.UploadedFileConfiguration

@import org.apache.tika.mime.MediaType
@import tags._

@(
  assessment: Assessment,
  studentAssessmentId: Option[UUID],
  uploadedFileConfig: UploadedFileConfiguration,
)(implicit request: RequestHeader, context: RequestContext)
@if((assessment.platform == Set(Platform.OnlineExams) && assessment.brief.urls.contains(Platform.OnlineExams)) || assessment.brief.files.nonEmpty) {
  @if(studentAssessmentId.isEmpty) {
    <div class="alert alert-info">
      <i class="fas fa-info-circle" aria-hidden="true"></i>
      The assessment brief is only shown to students that have started the assessment.
    </div>
  }
  <div class="panel panel-default">
    <div class="brand-stripe"></div>
    <div class="panel-body">
      <h2>Assessment brief</h2>
      @studentAssessmentId.map { id =>
        <span class="in-progress-assessment-data" data-id="@id"></span>
      }

      <p>Your department has provided the following information:</p>

      @if(assessment.platform == Set(Platform.OnlineExams) && assessment.brief.urls.contains(Platform.OnlineExams)) {
        <p>
          <a href="@assessment.brief.urls(Platform.OnlineExams)" target="_blank"><i class="fa far fa-link mr-half" aria-hidden="true"></i>More information</a>
        </p>
      }
      @if(assessment.brief.files.nonEmpty) {
        <ul class="media-list">
          @assessment.brief.files.map { file =>
            <li class="media mt-3">
              <div class="media-left">@mimeTypeIcon(file.contentType)</div>
              <div class="media-body">
                <h4 class="media-heading">@file.fileName</h4>

                <a class="assessment-brief-file btn btn-default btn-sm mr-half" target="_blank" rel="noreferrer" href="@controllers.routes.AssessmentController.downloadFile(assessment.id, file.id)"><i class="fas fa-file-download"></i>
                  Download</a>
                @if(uploadedFileConfig.isServeInline(MediaType.parse(file.contentType))) {
                  <a class="assessment-brief-file btn btn-default btn-sm mr-half" target="_blank" rel="noreferrer" href="@controllers.routes.AssessmentController.downloadOrServeFile(assessment.id, file.id)"><i class="fas fa-file-alt"></i>
                    Open in browser</a>
                }
              </div>
            </li>
          }
        </ul>
      }
    </div>
  </div>
}

