@import domain.Assessment.Platform
@import domain.Sitting
@import play.api.libs.json.Json
@import tags._

@import services.TimingInfoService
@(sitting: Sitting, timingInfoService: TimingInfoService)(implicit request: RequestHeader, context: RequestContext)
@sitting.assessment.startTime.map { startTime =>
    <div class="media">
        @if(sitting.assessment.platform.contains(Platform.OnlineExams) || sitting.studentAssessment.startTime.isEmpty) {
            <div class="media-left"><i class="fad fa-fw fa-hourglass fa-hourglass-spin"></i></div>
            <div
            class="media-body timing-information"
            data-id="@sitting.assessment.id"
            data-rendering="@Json.stringify(Json.toJson(sitting.getTimingInfo(timingInfoService.lateSubmissionPeriod)))"
            ></div>
        } else {
            @sitting.studentAssessment.startTime.map { studentStartTime =>
                <div class="media-left"><i class="fad fa-fw fa-hourglass"></i></div>
                <div class="media-body">You started this assessment on @bareLocalisedDateTime(studentStartTime)</div>
            }
        }
    </div>
}

