@import domain.Assessment
@import org.apache.commons.lang3.time.DurationFormatUtils
@import views.html.tags.localisedDatetimeRange
@import domain.StudentAssessmentWithAssessment
@(assessmentWithData: StudentAssessmentWithAssessment)(implicit context: RequestContext)

<dl>
    <dt>Module</dt>
    <dd>
        @assessmentWithData.assessment.paperCode
        @assessmentWithData.assessment.section.map(s => s"(Section $s)")
    </dd>
    <dt>Type</dt>
    <dd>
    @assessmentWithData.assessment.assessmentType.label
    </dd>
    <dt>Duration</dt>
    <dd>
        <i class="fad themed-duotone fa-stopwatch fa-fw"></i>@DurationFormatUtils.formatDurationWords(assessmentWithData.assessment.duration.toMillis, true, true)
    </dd>
    @assessmentWithData.assessment.startTime.map { startTime =>
        @assessmentWithData.assessment.lastAllowedStartTime.map { end =>
            <dt>Can start</dt>
            <dd>
                @localisedDatetimeRange(startTime, end, hideLatter = true)
            </dd>
        }
    }
</dl>
