@import domain.Sitting
@import domain.Assessment.Platform
@import tags._

@(sitting: Sitting, isAssessmentPage: Boolean = false)(implicit request: RequestHeader, context: RequestContext)
<div class="panel panel-default assessment-information-panel">
    @if(isAssessmentPage) {
        <div class="brand-stripe"></div>
    }
    <div class="panel-body">
        @if(isAssessmentPage) {
            <div class="row">
                <div class="col-lg-6">
        } else {
            <h4>
                @if(sitting.finalised) {
                    <i class="fas fa-check fa-fw"></i>
                }
                @sitting.assessment.title
            </h4>
        }

    @studentAssessmentMetadata(sitting)

        @if(isAssessmentPage) {
            @b3.vertical.formCSRF(controllers.routes.AssessmentController.start(sitting.assessment.id)) { implicit fc =>
                @if(sitting.studentAssessment.startTime.isEmpty) {
                    <button type="submit" class="btn btn-primary @if(!sitting.assessment.hasStartTimePassed() || sitting.assessment.hasLastAllowedStartTimePassed()) {hide}" id="startAssessment">
                        Start
                    </button>
                } else if (!sitting.assessment.platform.contains(Platform.OnlineExams) && sitting.assessment.hasStartTimePassed() && !sitting.assessment.hasLastAllowedStartTimePassed()) {
                    <button disabled="disabled" class="btn btn-default">Started</button>
                }
                @assessmentTiming(sitting)
            }
            </div>
            @if(!sitting.finalised) {
                <div class="col-lg-6">
                    @assessmentTimeline(sitting)
                </div>
            }
        </div>
        } else {
            <a href="@routes.AssessmentController.view(sitting.assessment.id)" class="btn btn-primary">
                View
            </a>
            @assessmentTiming(sitting)
        }
    </div>
</div>
