@()(implicit context: RequestContext)

<div class="ws-connected hide"><i class="fad fa-signal themed-duotone connectivity-indicator"></i> You're currently <strong>connected</strong> to @(context.appFullName). </div>
<div class="ws-disconnected hide text-danger"><i class="fad fa-signal-slash"></i> You're <strong>disconnected</strong> from @context.appFullName. We're trying to re-connect&hellip;</div>
<div class="ws-error hide text-danger"><i class="fad fa-exclamation-triangle"></i> Something has gone wrong with the @context.appFullName connection.</div>
