@import tags._
@import domain.AnnouncementOrQuery
@import domain.tabula
@import warwick.sso.UniversityID
@import warwick.core.views.utils.nl2br
@(
        announcementsAndQueries: Seq[AnnouncementOrQuery],
        students: Map[UniversityID, tabula.SitsProfile],
        announcementOrQuery: String
)(implicit request: RequestHeader, messagesProvider: MessagesProvider, context: RequestContext)

<div class="@announcementOrQuery-container">
  @announcementsAndQueries.map { query =>
    <div class="@announcementOrQuery">
      <div class="query-user">
        @query.sender match {
          case Left(sender: String) => { @sender }
          case Right(universityID: UniversityID) => {
            @students.get(universityID).map { u =>
              @u.fullName (@universityID.string)
            }.getOrElse(universityID.string)
          }
        }
      </div>
      <div class="query-text">
        @nl2br(query.text)
      </div>
      <div class="query-time">
        @localisedDatetime(query.date)
      </div>
    </div>
  }
</div>
