@import tags._
@import domain.AnnouncementOrQuery
@import domain.tabula
@import warwick.sso.UniversityID
@import warwick.sso.Usercode
@import warwick.sso.User
@(
        announcementsAndQueries: Seq[AnnouncementOrQuery],
        students: Map[UniversityID, tabula.SitsProfile],
        announcementOrQuery: String,
        invigilators: Map[Usercode, User] = Map.empty[Usercode, User],
)(implicit request: RequestHeader, messagesProvider: MessagesProvider, context: RequestContext)

<div class="@announcementOrQuery-container">
  @announcementsAndQueries.map { query =>
    <div class="@announcementOrQuery">
      <div class="query-user">
        @query.sender match {
          case Left(sender: Usercode) => {
            @invigilators.get(sender).map { u =>
              @u.name.full.getOrElse("Announcement")
            }.getOrElse("Announcement")
          }
          case Right(universityID: UniversityID) => {
            @students.get(universityID).map { u =>
              @u.fullName (@universityID.string)
            }.getOrElse(universityID.string)
          }
        }
      </div>
      <div class="query-text">
        @query.html
      </div>
      <div class="query-time">
        @localisedDatetime(query.date)
      </div>
    </div>
  }
</div>
