@(mimeType: String)

@mimeType match {
    case "application/pdf" => {<i class="fad fa-2x themed-duotone fa-file-pdf"></i>}
    case "application/vnd.openxmlformats-officedocument.wordprocessingml.document" => {<i class="fad fa-2x themed-duotone fa-file-word"></i>}
    case "application/msword" => {<i class="fad fa-2x  themed-duotone fa-file-word"></i>}
    case t if t.startsWith("image/") => {<i class="fad fa-2x  themed-duotone fa-file-image"></i>}
    case _ => {<i class="fad fa-2x themed-duotone fa-file"></i>}
}
