@(
    title: String,
    id: String = "confirmModal",
    buttonText: String = "Yes",
    buttonClass: String = "btn btn-danger"
)

<div id="@id" class="modal hide" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">@title</h4>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="@buttonClass">@buttonText</button>
        </div>
      </form>
    </div>
  </div>
</div>