@import domain.Assessment
@import domain.Sitting
@import views.html.tags._
@import domain.Assessment.Platform
@(assessment: Sitting)(implicit context: RequestContext)

<dl>
    @assessmentMetadataInternal(assessment.assessment)

    @if(assessment.finalised) {
        <dt>Started at</dt>
        <dd>@tags.localisedDatetime(assessment.studentAssessment.startTime.get)</dd>

        <dt>Finished at</dt>
        <dd>@tags.localisedDatetime(assessment.studentAssessment.finaliseTime.get)</dd>
    }
</dl>
