@import java.util.UUID

@import domain.{AssessmentClientNetworkActivity, SittingMetadata, tabula}
@import helpers.LenientTimezoneNameParsing._
@import org.apache.commons.lang3.time.DurationFormatUtils
@import tags._
@import warwick.sso.UniversityID

@(
  metadata: Seq[SittingMetadata],
  userMap: Map[UniversityID, tabula.SitsProfile],
  studentsWithQueries: Option[Seq[UniversityID]] = None,
  latestActivities: Map[UUID, AssessmentClientNetworkActivity] = Map.empty
)(implicit context: RequestContext)

@if(metadata.nonEmpty) {
  @studentsWithQueries.map { sWQ =>
    <div class="alert alert-info">
      <i class="fad themed-duotone fa-comment-alt-lines mr-half"></i>
      @sWQ.length @if(sWQ.length == 1) { student has } else { students have } queries.
      <a href="@controllers.invigilation.routes.AnnouncementAndQueriesController.viewAll(metadata.head.assessment.id)">
      View all queries.
    </a>
    </div>
  }
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Student</th>
        <th>Department</th>
        <th>State</th>
        <th>Start time</th>
        <th>Finalised time</th>
        <th>Adjustments</th>
        <th>Connection</th>
        @studentsWithQueries.map { sWQ =>
          <th><i class="fad themed-duotone fa-comment-alt-lines mr-half"></i></th>
        }
      </tr>
    </thead>

    <tbody>
      @metadata.map { md =>
        <tr>
          @userMap.get(md.studentAssessment.studentId).map { profile =>
            <td>@profile.fullName <span class="text-muted">(@md.studentAssessment.studentId.string)</span></td>
            <td>@profile.department.name</td>
          }.getOrElse {
            <td>Unknown name <span class="text-muted">(@md.studentAssessment.studentId.string)</span></td>
            <td>Unknown department</td>
          }
          <td>
            @md.getSummaryStatusLabel
          </td>
          <td>
            @md.studentAssessment.startTime.map {time =>
              @localisedDatetime(time)
            }
          </td>
          <td>
            @md.finalisedTime.map {time =>
              @localisedDatetime(time)
            }
          </td>
          <td>@md.studentAssessment.extraTimeAdjustment.map(duration => DurationFormatUtils.formatDurationWords(duration.toMillis, true, true))</td>
          <td>
            @if(md.finalised) {
              <span class="text-muted">No information</span>
            } else {
              @latestActivities.get(md.studentAssessment.id).map { a =>
                @if(a.isOnline) {
                  @a.signalStrength match {
                    case Some(i) if i >= 1 && i < 5 => {<i class="fad fa-signal-@i themed-duotone"></i>}
                    case _ => {<i class="fad fa-signal themed-duotone"></i>}
                  }
                  Online now
                  @a.localTimezoneName.map { e => <span class="text-muted">@e.timezoneName</span> }
                } else {
                  <i class="fad fa-signal-slash themed-duotone"></i> Offline
                }
              }.getOrElse {
                <span class="text-muted">No information</span>
              }
            }
          </td>
          @studentsWithQueries.map { sWQ =>
            <td>
              @if(sWQ.contains(md.studentAssessment.studentId)) {
                <a href="@controllers.invigilation.routes.AnnouncementAndQueriesController.view(md.studentAssessment.assessmentId, md.studentAssessment.studentId)" title="View queries">
                  <i class="fad themed-duotone fa-comment-alt-lines mr-half"></i>
                </a>
              }
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
} else {
  No students.
}
