@import domain.Assessment.DurationStyle._
@import domain.Sitting
@import views.html.tags._
@(assessment: Sitting)(implicit context: RequestContext)

<dl>
    @assessmentMetadataInternal(assessment.assessment)

    @if(assessment.studentAssessment.startTime.isDefined && assessment.declarations.completedRA) {
        @if(assessment.declarations.selfDeclaredRA) {
            <dt>Reasonable adjustments</dt>
            <dd><i class="fad fa-fw fa-check-circle" aria-hidden="true"></i>
                You confirmed that you have agreed reasonable adjustments with Disability Services</dd>
        } else {
            <dt>Reasonable adjustments</dt>
            <dd><i class="fas fa-fw fa-times" aria-hidden="true"></i> You confirmed that you <em>didn't</em> agree any reasonable adjustments with Disability Services</dd>
        }
    }

    @if(assessment.finalised) {
        @assessment.assessment.durationStyle match {
            case DayWindow => {
                <dt>Started at</dt>
                <dd>@tags.localisedDatetime(assessment.studentAssessment.startTime.get)</dd>
            }
            case FixedStart => {
                <dt>Started at</dt>
                <dd>@tags.localisedDatetime(assessment.assessment.startTime.get)</dd>
            }
        }

        <dt>Finished at</dt>
        @assessment.studentAssessment.submissionTime.map { time =>
        <dd>@tags.localisedDatetime(time)</dd>
        }.getOrElse {
            <dd><span class="text-danger">(Missing)</span></dd>
        }
    }
</dl>
