@import domain.Assessment.DurationStyle
@import domain.Sitting
@import views.html.tags._
@(assessment: Sitting)(implicit context: RequestContext)

<dl>
    @assessmentMetadataInternal(assessment.assessment)

    @if(assessment.finalised) {
        @if(assessment.assessment.durationStyle == DurationStyle.DayWindow) {
            <dt>Started at</dt>
            <dd>@tags.localisedDatetime(assessment.studentAssessment.startTime.get)</dd>
        }

        <dt>Finished at</dt>
        @assessment.studentAssessment.submissionTime.map { time =>
        <dd>@tags.localisedDatetime(time)</dd>
        }.getOrElse {
            <dd><span class="text-danger">(Missing)</span></dd>
        }
    }
</dl>
