@import tags._
@import domain.StudentAssessmentMetadata
@import domain.Assessment
@import warwick.sso.User
@import warwick.sso.UniversityID
@import org.apache.commons.lang3.time.DurationFormatUtils
@(metadata: Seq[StudentAssessmentMetadata], userMap: Map[UniversityID, User], studentsWithQueries: Option[Seq[UniversityID]] = None)(implicit context: RequestContext)

@if(metadata.nonEmpty) {
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Student</th>
        <th>Department</th>
        <th>State</th>
        <th>Start time</th>
        <th>Finalised time</th>
        <th>Adjustments</th>
        @studentsWithQueries.map { sWQ =>
          <th><i class="fad themed-duotone fa-comment-alt-lines mr-half"></i></th>
        }
      </tr>
    </thead>

    <tbody>
      @metadata.map { md =>
        <tr>
          @userMap.get(md.studentId).map { user =>
            <td>@user.name.full.getOrElse("Unknown name") <span class="text-muted">(@md.studentId.string)</span></td>
            <td>@user.department.flatMap(_.name).getOrElse("Unknown department")</td>
          }.getOrElse {
            <td>Unknown name <span class="text-muted">(@md.studentId.string)</span></td>
            <td>Unknown department</td>
          }
          <td>
              @* TODO Add a getState function, when window/nowindow is sorted            *@
          </td>
          <td>
            @md.startTime.map {time =>
              @localisedDatetime(time)
            }
          </td>
          <td>
            @md.finaliseTime.map {time =>
              @localisedDatetime(time)
            }
          </td>
          <td>@md.extraTimeAdjustment.map(duration => DurationFormatUtils.formatDurationWords(duration.toMillis, true, true))</td>
          @studentsWithQueries.map { sWQ =>
            <td>
              @if(sWQ.contains(md.studentId)) {
                <a href="@controllers.invigilation.routes.InvigilatorQueriesController.view(md.assessmentId, md.studentId)" title="View queries">
                  <i class="fad themed-duotone fa-comment-alt-lines mr-half"></i>
                </a>
              }
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
} else {
  No students.
}
