@import controllers.AssessmentController.FinishExamFormData
@import domain.Assessment.Platform
@import domain.Sitting
@import org.apache.tika.mime.MediaType
@import tags._
@import warwick.core.helpers.JavaTime

@(
  sitting: Sitting,
  finishExamForm: Form[FinishExamFormData],
  supportedMimeTypes: Seq[MediaType]
)(implicit request: RequestHeader, messagesProvider: MessagesProvider, context: RequestContext)

@defining(if (sitting.inProgress) "beforeunload" else "") { className =>
  @frontend(sitting.assessment.title, extraClasses = Seq("grey-nopad", "connect-ws", className)) {
    @assessmentPanel(sitting, isAssessmentPage = true)
    @if(sitting.started) {
      @for(
        startTime <- sitting.studentAssessment.startTime ;
        duration <- sitting.duration;
        durationIncludingLate <- sitting.durationIncludingLate
      ) {
        <div class="timeline">
          <div class="block turqoise">
            <div class="left">
              <div class="bubble"><i class="fal fa-2x fa-clock"></i></div>
              <div class="stick"></div>
            </div>
            <div class="middle">
              <div class="peg"></div>
            </div>
            <div class="right">
              <h1>@bareLocalisedDateTime(sitting.assessment.startTime.get) Assessment opened</h1>
              @sitting.assessment.lastAllowedStartTime.map { end =>
                <p>
                  The assessment can be started any time between @bareLocalisedDateTime(sitting.assessment.startTime.get) and @bareLocalisedDateTime(end, true)</p>
              }
            </div>
          </div>
          <div class="block green active">
            <div class="left">
              <div class="bubble"><i class="fal fa-2x fa-stopwatch"></i></div>
              <div class="stick"></div>
            </div>
            <div class="middle">
              <div class="peg"></div>
            </div>
            <div class="right">
              <h1>@bareLocalisedDateTime(startTime) You started the assessment</h1>
              <p>
                This is a @duration.toHours hour paper, plus @sitting.uploadGraceDuration.toMinutes minutes to upload your answers, so you should be aiming to finish answering by @bareLocalisedDateTime(startTime.plus(duration), true)</p>
              <p>Please plan your time accordingly.</p>
              @if(duration.toHours==3) {
                <div class="duration-3-spacer"></div>
              }
            </div>
          </div>
          <div class="block orange">
            <div class="left">
              <div class="bubble"><i class="fal fa-cloud-upload fa-2x"></i></div>
              <div class="stick"></div>
            </div>
            <div class="middle">
              <div class="peg"></div>
            </div>
            <div class="right">
              <h1 class="mb-1">@bareLocalisedDateTime(startTime.plus(duration))
                You have @sitting.uploadGraceDuration.toMinutes minutes until @bareLocalisedDateTime(startTime.plus(duration).plus(sitting.uploadGraceDuration)) to upload your answers</h1>
            </div>
          </div>
          <div class="block pink">
            <div class="left">
              <div class="bubble"><i class="fal fa-exclamation-triangle fa-2x"></i></div>
              <div class="stick"></div>
            </div>
            <div class="middle">
              <div class="peg"></div>
            </div>
            <div class="right">
              <h1>@bareLocalisedDateTime(startTime.plus(duration).plus(sitting.uploadGraceDuration))
                Your assessment is now late</h1>
              <p>
                You can still upload your answers but you may be subject to late penalties, unless you have reasonable adjustments.</p>
              <div class="vert-space"></div>
            </div>
          </div>
          <div class="block red">
            <div class="left">
              <div class="bubble"><i class="fal fa-ban fa-2x"></i></div>
            </div>
            <div class="middle">
              <div class="peg"></div>
            </div>
            <div class="right">
              <h1>@bareLocalisedDateTime(startTime.plus(durationIncludingLate).plus(sitting.uploadGraceDuration)) You can't upload answers at all after this point</h1>
            </div>
          </div>
        </div>
      }

      @if(sitting.assessment.platform.exists(_ != Platform.OnlineExams)) {
        <div class="panel panel-default">
          <div class="brand-stripe"></div>
          <div class="panel-body">
            <h2>Submit your assessment</h2>

            <p class="lead">
              @sitting.assessment.platform.map {
                case Platform.Moodle => {
                  <a href="@sitting.assessment.brief.url" target="_blank">
                    View your assessment in Moodle
                    <i class="fa fa-fw fa-external-link"></i>
                  </a>
                }
                case Platform.QuestionmarkPerception => {
                  <a href="@sitting.assessment.brief.url" target="_blank">
                    Take your assessment in Perception
                    <i class="fa fa-fw fa-external-link"></i>
                  </a>
                }
                case Platform.TabulaAssignment => {
                  <a href="@sitting.assessment.brief.url" target="_blank">
                    Submit your assessment on Tabula
                    <i class="fa fa-fw fa-external-link"></i>
                  </a>
                }
                case Platform.MyWBS => {
                  <a href="@sitting.assessment.brief.url" target="_blank">
                    Submit your assessment on MyWBS
                    <i class="fa fa-fw fa-external-link"></i>
                  </a>
                }
                case Platform.OnlineExams => {
                  @* Do nothing here, handled below *@
                }
              }
            </p>
          </div>
        </div>
      }

      @if(sitting.assessment.platform.contains(Platform.OnlineExams)) {
        <div class="panel panel-default">
          <div class="brand-stripe"></div>
          <div class="panel-body">
            <h2>Contact an invigilator</h2>
            <p>
              If you have concerns with specific parts of the assessment, you can use this form to bring it to the attention
              of an invigilator. Invigilators cannot assist you with understanding the assessment, but can look into
              potential errors and alert the entire cohort if necessary.
            </p>
            <p>
              <a href="@controllers.routes.MessageController.showForm(sitting.assessment.id)" target="_blank">
                Contact an invigilator
              </a>
            </p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="brand-stripe"></div>
          <div class="panel-body">
            <h2>Uploaded answer files</h2>
            @if(sitting.inProgress) {
              <p class="text-muted"><i class="fad themed-duotone fa-info-circle" aria-hidden="true"></i>
                We accept all common file formats: PDF, Word/Excel/Powerpoint files (doc, docx, ppt, pptx, xls, xlsx, odt etc.), images (png, jpeg, svg, tiff), audio (mp3, m4a, webm, ogg, wav, flac) and video (mp4, mov, webm, avi).
              </p>
            }
            @if(sitting.studentAssessment.uploadedFiles.nonEmpty) {
              @if(sitting.inProgress) {
                @b3.vertical.formCSRF(action = controllers.routes.AssessmentController.uploadFiles(sitting.assessment.id), Symbol("enctype") -> "multipart/form-data", Symbol("class") -> "upload-progress quash-beforeunload") { implicit vfc =>
                  @b3.free(Symbol("_label") -> "Attach file") {
                    <input autocomplete="off" type="file" name="file" accept="@{supportedMimeTypes.map(_.getBaseType.toString).mkString(",")}" multiple>
                  }

                  <div class="help-block upload-info hide">
                    <p class="loading"><i class="far fa-spin fa-spinner-third"></i> Please wait whilst your submission is uploaded...</p>
                    <progress value="0" max="100"></progress>
                  </div>
                  <p class="help-block upload-error hide">
                    <span class="text-danger"><i class="far fa-exclamation-circle"></i> We couldn't upload your submission. Please try again.</span>
                  </p>

                  @b3.free(Symbol("_class") -> "spaced-buttons") {
                    <button type="submit" class="btn btn-primary quash-beforeunload">Upload files</button>
                  }
                }
              }
              <div class="uploaded-files">
                @sitting.studentAssessment.uploadedFiles.map { file =>
                  <div class="panel uploaded-file">
                    <div class="panel-body">
                      <div class="media">
                        <div class="media-left">
                          <a href="@controllers.routes.AssessmentController.downloadAttachment(sitting.assessment.id, file.id)">
                          @mimeTypeIcon(file.contentType)
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading"><a href="@controllers.routes.AssessmentController.downloadAttachment(sitting.assessment.id, file.id)" target="_blank">@file.fileName</a></h4>
                          <p>@helpers.humanReadableSize(file.contentLength) <small class="text-muted">@JavaTime.Relative(file.created)</small></p>
                          @if(sitting.inProgress) {
                            @b3.inline.formCSRF(controllers.routes.AssessmentController.deleteFile(sitting.assessment.id, file.id), Symbol("class") -> "quash-beforeunload") { implicit ifc =>
                              <p>
                                <a download target="_blank" href="@controllers.routes.AssessmentController.downloadAttachment(sitting.assessment.id, file.id)" class="btn btn-sm btn-default mr-half"><i class="fas fa-file-download"></i>
                                  Download</a> <button delete type="submit" class="btn btn-default btn-sm"><i class="fas fa-trash"></i>
                                Delete</button>
                              </p>
                            }
                          } else {
                            <a download target="_blank" href="@controllers.routes.AssessmentController.downloadAttachment(sitting.assessment.id, file.id)" class="btn btn-sm btn-default mr-half"><i class="fas fa-file-download"></i>
                              Download</a>
                          }
                        </div>
                      </div>
                    </div>
                  </div>
                }
              </div>
            } else {
              @if(sitting.inProgress) {
                <div class="blankslate">
                  <i class="fad fa-folder-open themed-duotone fa-2x"></i> <i class="fad fa-file themed-duotone fa-2x"></i>
                  <h3>You've not yet uploaded any answer files</h3>
                  <div class="left-align">
                    <p>Once you've answered the assessment questions and you're ready to submit, you can upload your files below.</p>
                    @b3.vertical.formCSRF(action = controllers.routes.AssessmentController.uploadFiles(sitting.assessment.id), Symbol("enctype") -> "multipart/form-data", Symbol("class") -> "upload-progress") { implicit vfc =>
                      @b3.free(Symbol("_label") -> "Attach file") {
                        <input autocomplete="off" type="file" name="file" accept="@{supportedMimeTypes.map(_.getBaseType.toString).mkString(",")}" multiple>
                      }

                        <div class="help-block upload-info hide">
                          <p class="loading"><i class="far fa-spin fa-spinner-third"></i> Please wait whilst your submission is uploaded...</p>
                          <progress value="0" max="100"></progress>
                        </div>
                        <p class="help-block upload-error hide">
                          <span class="text-danger"><i class="far fa-exclamation-circle"></i> We couldn't upload your submission. Please try again.</span>
                        </p>

                      @b3.free(Symbol("_class") -> "spaced-buttons") {
                        <button type="submit" class="btn btn-primary quash-beforeunload">Upload files</button>
                      }
                    }
                  </div>
                </div>
              }
            }
          </div>
        </div>
        @if(sitting.inProgress && sitting.studentAssessment.uploadedFiles.nonEmpty) {
          <div class="panel panel-default finish-exam-panel">
            <div class="brand-stripe"></div>
            <div class="panel-body">
              <h2>Finish assessment</h2>
              <p class="lead">Once you're ready, you can finish the assessment below. We'll record the time at which you do this.</p>
              <p>Have you completed all of the following tasks?</p>
              <ul>
                <li>Uploaded your final submission above</li>
                <li>Downloaded your final submission and checked to ensure it was uploaded in its entirety</li>
                <li>Checked through your answers to the assessment questions</li>
              </ul>
              @b3.vertical.formCSRF(controllers.routes.AssessmentController.finish(sitting.assessment.id), Symbol("class") -> "quash-beforeunload") { implicit fc =>
                @b3.checkbox(
                  finishExamForm("agreeDisclaimer"),
                  Symbol("_text") -> "I understand that this action is final and that I won't be able to make further submissions.",
                  Symbol("data-undisable-selector") -> ".finish-exam-btn",
                  Symbol("class") -> "undisable-with-checkbox",
                )
                @b3.submit(Symbol("class") -> "btn btn-default finish-exam-btn", Symbol("disabled") -> "disabled"){ <i class="fas fa-check fa-fw"></i> Finish assessment }
              }
            </div>
          </div>
        }
      }
    }
  }
}
