@import controllers.WebSocketController.{SendAssessmentAnnouncementForm, SendBroadcastForm}

@(sendBroadcastForm: Form[SendBroadcastForm], assessmentAnnouncementForm: Form[SendAssessmentAnnouncementForm])(implicit request: RequestHeader, messagesProvider: MessagesProvider, context: RequestContext)

@admin("Broadcast test") {
    <h4>Per user broadcast</h4>
    @b3.vertical.formCSRF(action = controllers.routes.WebSocketController.sendBroadcast()) { implicit vfc =>
        @b3.text(sendBroadcastForm("user"),
            Symbol("_label") -> "Receipient user",
            Symbol("class") -> "flexi-picker",
            Symbol("data-include-groups") -> "false",
            Symbol("placeholder") -> "Name or usercode",
            Symbol("autofocus") -> true,
            Symbol("autocomplete") -> "off"
        )

        @b3.text(sendBroadcastForm("message"), Symbol("_label") -> "Message", Symbol("autocomplete") -> "off")

        @b3.free(Symbol("_class") -> "spaced-buttons") {
            <button type="submit" class="btn btn-primary">Send WebSocket Broadcast Message</button>
        }
    }
    <hr/>

    <h4>Per assessment broadcast (assessment announcement)</h4>
    @b3.vertical.formCSRF(action = controllers.routes.WebSocketController.sendAnnouncement()) { implicit vfc =>
        @b3.text(sendBroadcastForm("assessment"),
            Symbol("_label") -> "Assessment id",
        )

        @b3.text(sendBroadcastForm("message"), Symbol("_label") -> "Message", Symbol("autocomplete") -> "off")

        @b3.free(Symbol("_class") -> "spaced-buttons") {
            <button type="submit" class="btn btn-primary">Send</button>
        }
    }
}
