@import controllers.sysadmin.SysadminTestController.{EmailFormData, MyWarwickFormData}
@import org.apache.tika.mime.MediaType
@import warwick.core.helpers.JavaTime
@import warwick.fileuploads.UploadedFile

@(
  emailForm: Form[EmailFormData],
  myWarwickForm: Form[MyWarwickFormData],
  files: Seq[UploadedFile],
  supportedMimeTypes: Seq[MediaType],
)(implicit request: RequestHeader, messagesProvider: MessagesProvider, context: RequestContext)

@main("Sysadmin tests") {
  <h2>Send test email</h2>

  @b3.vertical.formCSRF(action = controllers.sysadmin.routes.SysadminTestController.sendEmail()) { implicit vfc =>
    @b3.text(emailForm("to"),
      Symbol("_label") -> "Receipient user",
      Symbol("class") -> "flexi-picker",
      Symbol("data-include-groups") -> "false",
      Symbol("placeholder") -> "Name or usercode",
      Symbol("autofocus") -> true,
      Symbol("autocomplete") -> "off"
    )

    @b3.email(emailForm("email.from"), Symbol("_label") -> "From", Symbol("autocomplete") -> "off")
    @b3.text(emailForm("email.subject"), Symbol("_label") -> "Subject", Symbol("autocomplete") -> "off")
    @b3.textarea(emailForm("email.bodyText"), Symbol("_label") -> "Message", Symbol("rows") -> 6)

    @b3.free(Symbol("_class") -> "spaced-buttons") {
      <button type="submit" class="btn btn-primary">Send email</button>
    }
  }

  <h2>Send test My Warwick activity</h2>

  @b3.vertical.formCSRF(action = controllers.sysadmin.routes.SysadminTestController.sendMyWarwick()) { implicit vfc =>
    @b3.text(myWarwickForm("user"),
      Symbol("_label") -> "Receipient user",
      Symbol("class") -> "flexi-picker",
      Symbol("data-include-groups") -> "false",
      Symbol("placeholder") -> "Name or usercode",
      Symbol("autofocus") -> true,
      Symbol("autocomplete") -> "off"
    )

    @b3.text(myWarwickForm("group"),
      Symbol("_label") -> "Receipient group",
      Symbol("class") -> "flexi-picker",
      Symbol("data-include-groups") -> "true",
      Symbol("data-include-users") -> "false",
      Symbol("placeholder") -> "Group name",
      Symbol("autofocus") -> true,
      Symbol("autocomplete") -> "off"
    )

    @b3.text(myWarwickForm("title"), Symbol("_label") -> "Title", Symbol("autocomplete") -> "off")
    @b3.text(myWarwickForm("url"), Symbol("_label") -> "URL", Symbol("autocomplete") -> "off")
    @b3.text(myWarwickForm("text"), Symbol("_label") -> "Text", Symbol("autocomplete") -> "off")
    @b3.text(myWarwickForm("activityType"), Symbol("_label") -> "Activity type", Symbol("autocomplete") -> "off")
    @b3.checkbox(myWarwickForm("alert"), Symbol("_text") -> "Send as an alert instead of an activity")

    @b3.free(Symbol("_class") -> "spaced-buttons") {
      <button type="submit" class="btn btn-primary">Send email</button>
    }
  }

  <h2>Uploaded files</h2>

  @b3.vertical.formCSRF(action = controllers.sysadmin.routes.SysadminTestController.uploadFile(), Symbol("enctype") -> "multipart/form-data") { implicit vfc =>
    @b3.free(Symbol("_label") -> "Attach a file") {
      <input type="file" class="form-control" name="file" accept="@{supportedMimeTypes.map(_.getBaseType.toString).mkString(",")}" multiple>
    }

    @b3.free(Symbol("_class") -> "spaced-buttons") {
      <button type="submit" class="btn btn-primary">Upload</button>
    }
  }

  <table class="table table-default">
    <caption>Uploaded files</caption>
    <thead>
      <tr>
        <th>Filename</th>
        <th>Size</th>
        <th>Content type</th>
        <th>Uploaded by</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
    @files.map { file =>
      <tr>
        <td><a href="@controllers.sysadmin.routes.SysadminTestController.downloadFile(file.id)">@file.fileName</a></td>
        <td>@helpers.humanReadableSize(file.contentLength)</td>
        <td>@file.contentType</td>
        <td>@file.uploadedBy.string</td>
        <td>@JavaTime.Relative(file.created)</td>
      </tr>
    }
    </tbody>
  </table>
}
