@import (reference) "references";

@import "flexi-picker";
@import "queries";
@import "eonasdan-bootstrap-datetimepicker/src/less/_bootstrap-datetimepicker.less";
@import (inline) "tablesort/tablesort.css";

// Apply a pointer cursor upon hover to indicate it's clickable; prevent Chrome outlining
// These styles can be applied regardless of whether the fallback is needed
summary {
  display: list-item;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.invigilator-list > ul {
  margin-top: 1.5rem;
  list-style-type: none;
}

.invigilator-list .loading {
  margin-top: -4.5rem;
  float: right;
  font-size: 1.25rem;
  color: @text-muted;
}

.signal-loop (@i) when (@i > 0) {
  .themed-duotone.fa-signal-@{i} {
    --fa-secondary-color: 0.3;
  }
  .signal-loop(@i - 1);
}
.signal-loop (4);