@import (reference) "bootstrap/less/variables.less";
@import (reference) "bootstrap/less/mixins.less";
@import (reference) "@universityofwarwick/id7/less/variables.less";
@import (reference) "@universityofwarwick/id7/less/mixins.less";

@import "@universityofwarwick/id7/less/id7-no-fa";
@import "@universityofwarwick/id7/less/font-awesome-pro";
@import "id7-theme";
@import (inline) "@universityofwarwick/statuspage-widget/dist/main.css";
@import "sysadmin-notices";
@import "error-pages";
@import "flexi-picker";

@id7-ignore-id6-legacy: true;
@id7-image-root-dir: './lib/id7/images';
@icon-font-path: './lib/fontawesome-pro/webfonts';
@fa-font-path: './lib/fontawesome-pro/webfonts';
@brand-colour: #a14418;

.grey-nopad {
  .navbar-secondary .navbar-nav > li.active:before {
    border-bottom-color: #f7f6f4
  }

  .id7-main-content-area {
    background: #f7f6f4
  }

  .panel {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border: 1px solid #edebe7;
  }
}

.panel-lg .panel-body {
  margin: 20px 15px;
}

