.query {
    padding: 1em 1em 2em 1em;
    background-color: #5b3069;
    border-radius: 0.5em;
    color: white;
    margin-bottom: 1em;
    .query-time {
        font-size: 0.8em;
        right: 2em;
        position: absolute;
        .text-muted {
            color: white;
        }
    }
}
