@import domain.Sitting

@import views.html.exams.rows
@(assessments: Seq[Sitting])(implicit requestHeader: RequestHeader, context: RequestContext)

@frontend("My assessments", extraClasses = Seq("grey-nopad", "connect-ws")) {

  <div class="media">
    <div class="media-left">
      <i class="fa fa-exclamation-triangle text-danger"></i>
    </div>
    <div class="media-body">
      This page lists all the assessments you are scheduled to take during <strong>April 2020</strong>; assessments for May and June will appear in due course. Please check carefully to make sure that all the assessments you expect to take are shown here; if an assessment does not appear in this list, you will not be able to take it. If there are assessments you are expecting to take which do not appear here, please contact your department as soon as possible.
    </div>
  </div>

  <hr>

  @rows("Current assessments", assessments.filter(a => a.canModify() || a.isCurrentForStudent))

  @rows("Upcoming assessments", assessments.filter(_.assessment.isInFuture))

  @rows("Past assessments", assessments.filter(a => !a.canModify() && !a.isCurrentForStudent && !a.assessment.isInFuture))
}
