@import domain.StudentAssessmentWithAssessment
@import tags._

@import views.html.exams.rows
@(assessments: Seq[StudentAssessmentWithAssessment])(implicit requestHeader: RequestHeader, context: RequestContext)

@frontend("My exams", extraClasses = Seq("grey-nopad", "connect-ws")) {

  <div class="media">
    <div class="media-left">
      <i class="fa fa-exclamation-triangle text-danger"></i>
    </div>
    <div class="media-body">
      This page lists all the exams you are scheduled to take during summer 2020. Please check carefully to make sure that all the exams you expect to take are shown here; if an exam does not appear in this list, you will not be able to take it. If there are exams you are expecting to take which do not appear here, please email @contactEmail() to tell us about it as soon as possible.
    </div>
  </div>

  <hr>

  @rows("Current exams", assessments.filter(a => a.inProgress || a.assessment.isWithinWindow))

  @rows("Upcoming exams", assessments.filter(_.assessment.isInFuture))

  @rows("Past exams", assessments.filter(a => !a.inProgress && a.assessment.hasWindowPassed))
}
