@import controllers.MessageController.MessageData
@import domain.messaging.Message
@import domain.{Assessment, tabula}
@import tags._
@import warwick.sso.{UniversityID, User, Usercode}
@(
    assessment: Assessment,
    messages: Seq[Message],
    student: Map[UniversityID, tabula.SitsProfile],
    form: Form[MessageData],
    invigilators: Map[Usercode, User] = Map.empty[Usercode, User]
)(implicit context: RequestContext, request: RequestHeader, messagesProvider: MessagesProvider)

@frontend(s"Log an issue for ${assessment.title}") {
    <div class="alert alert-info media">
        <div class="media-left">
            <i class="fas fa-info-circle" aria-hidden="true"></i>
        </div>
        <div class="media-body">
            If you have concerns with specific parts of this assessment, you can use this form
            to log an issue with the invigilation team.  No individual replies are sent when
            issues are logged, but if there is a problem that affects the entire cohort, the
            invigilation team will make an announcement to all students.
        </div>
    </div>

    @displayMessages(
        messages = messages,
        students = student,
        threaded = false,
        invigilators = Map.empty
    ) { u =>
        <div class="panel-footer">
            @b3.vertical.formCSRF(controllers.routes.MessageController.submitForm(assessment.id)) { implicit fc =>
                @b3.textarea(
                    form("messageText"),
                    Symbol("_label") -> "Log an issue with the invigilation team",
                    Symbol("_showConstraints") -> true
                )

                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-paper-plane"></i> Log issue
                </button>
            }
        </div>
    }

}
