@import domain.Assessment
@(
    assessment: Assessment,
    form: Form[MessageData],
)(implicit context: RequestContext, request: RequestHeader, messagesProvider: MessagesProvider)

@frontend(s"Messages for ${assessment.title}") {
    <div class="row">
        <div class="col-sm-6">
            @b3.vertical.formCSRF(controllers.routes.MessageController.submitForm(assessment.id)) { implicit fc =>
                @b3.textarea(form("messageText"),
                    Symbol("_label") -> "Enter your message for the invigilator")

                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-paper-plane"></i> Send
                </button>
            }
        </div>
        <div class="col-sm-6">
            @* Good spot to put responses when we do those *@
        </div>
    </div>

}
